name: JSC Scan

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  scan:
    runs-on: ubuntu-latest
    container: pmatos/scan-build:latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create results dir
        run: mkdir -p $GITHUB_WORKSPACE/results
      - name: Scan
        run: ./scan-build-webkit.sh $GITHUB_WORKSPACE/results
      - name: Archive results
        uses: actions/upload-artifact@v2
        with:
          name: scan-results
          path: ${{ github.workspace }}/results
